#!/bin/zsh -l
#SBATCH --nodes=1  #: Number of nodes 
#SBATCH --ntasks-per-node={ncpus} #: Total number of tasks (=CPUs cores) per node
#SBATCH --cpus-per-task=1  #: CPUs for each task
#SBATCH --mem-per-cpu=16G  #: Total memory for each CPU
#SBATCH --time=120:00:00  #: Wall-time limit
#SBATCH --partition=nice,nice-long  #: ESRF cluster
#SBATCH --constraint="hpc5"  #: ESRF cluster
#SBATCH --job-name="{jobname}"  #: Name used to set the output files 
#SBATCH --output=%x_output.txt
#SBATCH --error=%x_output.txt

function compress {{
    gzip -f {jobname}_bav.txt
}}

# Unload all loaded modules.
module purge

#"module avail fdmnes" to see available versions
VERSION="2026.03.10"

module load fdmnes/$VERSION

# Run the calculation.
srun ${{FDMNES_COMMAND}}

# Compress the large job_bav.txt file.
compress
