#!/bin/bash -l
#SBATCH --nodes={nnodes}  #: Number of nodes / if more nodes, add `#SBATCH --constraint="hpc7"` (type of machines) 
#SBATCH --ntasks-per-node={ncpus} #: Total number of tasks (=CPUs cores) per node
#SBATCH --cpus-per-task=1  #: CPUs for each task / DON'T CHANGE THIS - required by FDMNES
#SBATCH --mem-per-cpu={mem_per_cpu}  #: Total memory for each CPU
#SBATCH --time=120:00:00  #: Wall-time limit
#SBATCH --partition=nice,nice-long  #: ESRF cluster
#SBATCH --constraint="{constraint}"
#SBATCH --job-name="{jobname}"  #: Name used to set the output files 
#SBATCH --output="{jobname}_slurm.stdout"
#SBATCH --error="{jobname}_slurm.stderr"

function compress {{
    gzip -f {jobname}_bav.txt
}}

# Unload all loaded modules.
module purge

#"module avail fdmnes" to see available versions
VERSION="2026.03.10"

module load fdmnes/$VERSION

# Run the calculation.
srun ${{FDMNES_COMMAND}}

# Compress the large job_bav.txt file.
compress
