<!doctype html>
<html>
  <head>
    <title>CIF4XAS: American Mineralogist Crystal Structure Database for X-ray
Absorption Spectrosscopy</title>
    <link rel=stylesheet type=text/css  href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

<div class=topbar>
  <table cellpadding=1 width=100%>
    <tr><td width=35% padding=5 align=left>
       CIF4XAS: American Mineralogist Crystal
  Structure Database for X-ray Absorption Spectrosscopy
      </td>
  </table>
</div>

<ul class=topmenu>
  <li> <a href="{{url_for('index')}}"> Browse Am Min CIFs </a> </li>
  <li> <a href="{{url_for('upload')}}"> Upload a CIF File </a> </li>
  <li> <a href="{{url_for('about')}}"> About </a> </li>
</ul>

    {% block body %}
{% endblock %}
